[submodule "SchedulerAPI"]
	path = SchedulerAPI
	url = https://github.com/Anton-3-0-SIH2020/SIH2020-SchedulerAPI.git
[submodule "RESTAPI"]
	path = RESTAPI
	url = https://github.com/Anton-3-0-SIH2020/SIH2020-REST_API.git
[submodule "ScheduledTask"]
	path = ScheduledTask
	url = https://github.com/Anton-3-0-SIH2020/SIH2020_Task_Scheduler.git
